[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = git@github.com:manateelazycat/insert-translated-name.git
[submodule "site-lisp/grep-dired"]
	path = site-lisp/grep-dired
	url = git@github.com:manateelazycat/grep-dired.git
[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = git@github.com:manateelazycat/color-rg.git
[submodule "site-lisp/instant-rename-tag"]
	path = site-lisp/instant-rename-tag
	url = git@github.com:manateelazycat/instant-rename-tag.git
[submodule "site-lisp/advance-words-count"]
	path = site-lisp/advance-words-count
	url = git@github.com:LdBeth/advance-words-count.el.git
[submodule "site-lisp/delete-block"]
	path = site-lisp/delete-block
	url = git@github.com:manateelazycat/delete-block.git
[submodule "site-lisp/clip2org"]
	path = site-lisp/clip2org
	url = git@github.com:thamer/clip2org.git
[submodule "site-lisp/nox"]
	path = site-lisp/nox
	url = git@github.com:manateelazycat/nox.git
[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "site-lisp/one-key"]
	path = site-lisp/one-key
	url = git@github.com:manateelazycat/one-key.git
